.card {
    border-radius: 20px;
     /* Set border-radius to 20px for all corners */
  }
  /* Optional: Style for star ratings */
  .ratings .star {
    color: gold; /* Change the star color as desired */
  }
  #hi{
        /* Color Blend CSS Code */
        background:;
        background-blend-mode: screen;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
  }
.card-text{
  height: 2%;
  text-overflow: none;
}
/* card.css */
.c:hover {
  transform: translateY(-5px); /* Adjust the value as needed to control the lift height */
  transition: transform 0.5s ease; /* Adjust the transition duration as needed */
}

